.is-active{
    border-bottom: 2px solid white;
}

form{
    width: 300px;
    margin: 0 auto;
    color: darkgray;
}

body{
    background-color: #001f3f;
}

#click{
    border: #001f3f;
    background-color: darkgray;
    color: #001f3f;
}

h1{
    color: darkgray;
/*    font-family: "Courier New", Courier, monospace;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
    text-decoration: underline solid rgb(68, 68, 68);
    font-variant: small-caps;
    text-transform: capitalize;
}

#search{
    color: darkgray;
/*    font-family: "Courier New", Courier, monospace;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    
}

#listed{
/*    font-family: "Courier New", Courier, monospace;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
}