{% extends "feed/base.html" %}
{% block content %}
    <div class="modal-title">
        <div class="current-friends">
            <h1>DM Friends</h1>
            {% for friend in friends %}
                <a href="{% url 'chat:room' friend.username %}">
                    <div class="users">
                    <h5>{{ friend.username }}</h5>
                </div>
                </a>
            {% endfor %}
            <hr/>
        </div>
    </div>

{% endblock content %}


{% block javascript %}
{% endblock javascript %}