{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h2 class="modal-title align-center">Submit Comment! </h2>
    <hr/>

    <form id="create-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="form-group">
            <input type="submit" id="form-data" class="btn btn default" value="Submit"/>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascript %}
    <script>
    document.getElementById('create-form').addEventListener("click", function () {
        var contentElem = document.getElementsByTagName("textarea").namedItem("content");

        var data = contentElem.innerText;

        for(var eachElem in data){
            var elem = data[eachElem];
            if(elem === '<'){
                elem.innerHTML = elem.innerHTML.replace(/</g,'&lt;');
            }
            if(elem === '>'){
                elem.innerHTML = elem.innerHTML.replace(/>/g,'&gt;');
            }

        }
        console.log("data", data);
    })
    </script>
{% endblock javascript %}