{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="modal-title">
        <h1>Feed</h1>
        {% if user.is_authenticated %}
            <p>Click here to create a post:   <a href="{% url 'feed-create' %}"><button class="btn btn-info create-post" >Create Post</button></a> </p>
            <small>Click on username to download or delete a post</small>
        {% endif %}
   </div>


    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'feed-detail' post.id %}">{{ post.username }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <p class="article-content" >{{ post.content }}</p>
                <img class src="{{ post.image.url }}">
            </div>
            <div class="icons">
                <button type="button" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">
                    <span >Likes</span>
                    <p> {{ post.likes.count }}</p>
                </button>
                <button type="button" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">
                    <span>Comments</span>
                    <p> 0 {{ post.comments.count }}</p>
                </button>
            </div>
        </article>
    {% endfor %}

    <!-- Create a post section -->
{% endblock content %}

{% block javascript %}

{% endblock javascript %}