{% extends "feed/base.html" %}
{% block stylesheet %}{% endblock stylesheet %}

{% block content %}
    <div class="modal-title">
        <h1>Add a Friend</h1>
        <div class="friends">
            {% for user in users %}
                <div class="users" >
                    <a href="{% url 'view-profile' user.pk %}"><h5>{{ user.username }}</h5></a>
                    <button type="button" class="btn btn-sm mt-1 mb-1"><span >Follow</span></button>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}

{% block javascript %}{% endblock javascript %}