

<form action="{% url 'like_post'%}" method="post">
  {% csrf_token %}
  {% if is_liked %}
    <button type="submit" id="like" name="post_id" value="{{post.id}}" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">Dislike</button>
  {% else %}
    <button type="submit" id="like" name="post_id" value="{{post.id}}" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">Like</button>
  {% endif %}
</form>
{% if post.likes.all == auth.User.None %}
  <p>0</p>
{% else %}
  {{ post.likes.all }} Likes
{% endif %}
