{% extends "feed/base.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'feed-home' %}">{{ object.username }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <p>{{ object.content }}</p>
            <img class src="{{ post.image.url }}">
        </div>
        <div class="icons">
            <button type="button" class="likebtn btn btn-sm mt-1 mb-1" aria-label="Left Align">
                <span aria-hidden="true">Like</span>
                <p> {{ object.likes.count }}</p>
            </button>
            <button type="button" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">
                <span aria-hidden="true">Comment</span>
                <p> 0 {{ post.comments.count }}</p>
            </button>
            <button type="button" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">
                <span >Follow</span>
                <p>0</p>
            </button>
            <a href="{% url 'feed-download' object.pk %}" download>
                <button type="button" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">
                    <span aria-hidden="true">Download</span>
                </button>
            </a>
            <a href="{% url 'feed-delete' object.id %}">
                <button type="button" class="btn btn-sm mt-1 mb-1" aria-label="Left Align">
                    <span aria-hidden="true">Delete</span>
                </button>
            </a>
        </div>
    </article>

    <!-- Comment Section -->
{% endblock content %}

{% block javascript %}
    <script>
        $(".likebtn").click(function(evt){
            evt.preventDefault();
            var currentLikeCount = {{ object.likes.count }};
            currentLikeCount += 1;
            console.log(currentLikeCount)
        })
    </script>
{% endblock javascript %}