{% extends "feed/base.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'feed-home' %}">{{ object.username }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <p>{{ object.content }}</p>
            <img class="image-ori" src="{{ post.image.url }}">
        </div>
        <div class="icons">
            <button type="button" id="likebtn" class="btn btn-sm mt-1 mb-1" >
                <span>Like</span>
                <p id="like"> {{ post.likes.count }}</p>
            </button>
            <button type="button" class="btn btn-sm mt-1 mb-1">
                <span>Comment</span>
                <p>{{ comments.count }}</p>
            </button>
            <button type="button" class="btn btn-sm mt-1 mb-1">
                <span >Follow</span>
                <p>0</p>
            </button>
            <a href="{% url 'feed-download' post.pk %}" download>
                <button type="button" class="btn btn-sm mt-1 mb-1">
                    <span>Download</span>
                </button>
            </a>
            <a href="{% url 'feed-delete' post.id %}">
                <button type="button" class="btn btn-sm mt-1 mb-1">
                    <span>Delete</span>
                </button>
            </a>
        </div>
    </article>

    <br/><br/>


    <h2>Comments</h2>
    <a href="{% url 'create-comment' post.id %}">
        <button type="button" class="btn btn-sm mt-1 mb-1">Create Comment</button>
    </a>
    {% for comment in comments %}
        <div class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <strong>{{ comment.user }}</strong>
                <small class="text-muted">{{ comment.date_posted }}</small>
            </div>
            <div class="article-content">{{ comment.content }}</div>
        </div>
        </div>
    {% empty %}
        <div class="article-content">No Comments</div>
    {% endfor %}

{#    <form id="create-form" method="POST" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <button type="button" class="btn btn-sm mt-1 mb-1">Submit</button>#}
{#    </form>#}


{% endblock content %}

{% block javascript %}
    <script>
        document.getElementById("likebtn").addEventListener("click", function(e){
            var currentLike = parseInt(document.getElementById("like").innerText);
            currentLike += 1;
            document.getElementById("like").innerText = currentLike;
            console.log(currentLike);
        });
    </script>
{% endblock javascript %}